<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.github.stevekueng.MunkiBar</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/steve.kueng/Git/DrunkenMunki/stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/steve.kueng/Git/DrunkenMunki/stdout.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/steve.kueng/Git/DrunkenMunki</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/steve.kueng/Git/DrunkenMunki/macosvm</string>
      <string>--ephemeral</string>
      <string>/Users/steve.kueng/Git/DrunkenMunki/vm.json</string>
    </array>
  </dict>
</plist>